<!DOCTYPE html>
<html>
  <head>
    <title>Wefunder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header-container">
      <img src="https://www.shipbob.com/wp-content/uploads/2019/12/Wefunder_logo.png" id="wefunder-logo" />
    </div>
    <div id="content-container"> 
        <div id="notice-label"><%= flash[:notice] %></div>   
      <%= yield %>
    </div>
  </body>
</html>
